:root {
    --text-accent-color: #fff;
    --font-body-color: #fafafa;
    --font-size-title: 28px;
    --font-size-subtitle: 18px;

}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

* {
    box-sizing: inherit;
}

p {
    margin-top: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    color: var(--font-body-color);
    font-family: 'Open Sans';
}

ul {
    /* margin: 0; */
    
    padding: 0;
    padding-left: 24px;

}

li {
    color: var(--font-body-color);
}
html{
    scroll-padding-top: 52px;
}
body, html {
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background:linear-gradient(to right top, #345945, #355f48, #37644c, #386a4f, #397053,
        #3f7a5b, #458462, #4b8e6a, #579f78, #63b086, #6fc194, #7cd3a3);
    color: #fff;
    scroll-behavior: smooth;
}

.main-header, .main-content, .main-footer {
    padding: 0 12px;
}

.hero,
.experiences,
.education,
.projects,
.contact {
    margin-bottom: 140px;
}

.hero {
    height: 100vh;
    padding-top: 193px;
    display: flex;
    flex-direction: column;
}

.logo__content {
    color: var(--text-accent-color);
    font-size: 18px;
    font-family: 'Patua One', cursive;
}

.logo__content::after {
    content: "_";
}

.navigation__link {
    color: var(--font-body-color);
    font-size: 14px;
    text-decoration: none;
}

.navigation__icon {
    text-decoration: none;
    color: var(--text-accent-color);
    font-size: 16px;


}

.main-header {
    display: flex;
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background 0.25s ease-in-out;
    z-index: 10;
    align-items: center;
}

.main-header--dark {
    background-color: rgba(0, 0, 0, 0.8)
}

.navigation {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.navigation__links {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.navigation__icons {
    display: flex;
    gap: 20px;
}

/* Hero part*/
.hero {
    position: relative;
}

.hero__hello {
    margin-top: 0;
    font-size: 46px;
    margin-bottom: 18px;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.hero::before {
    display: block;
    content: "Hello word ";
    z-index: 1;
    position: absolute;
    top: 100px;
    left: -5px;
    font-size: 96px;
    font-weight: bold;
    opacity: 0.05;
    text-align: left;
    line-height: 130px;
}

.hero___name {
    font-size: 18px;
    line-height: 25px;
}

.hero___profession {
    font-size: 24px;
    line-height: 33px;
    display: block;
}

.hero___profession::after {
    content: "_";
    -webkit-animation: blink-animation 1.2s steps(3, start) infinite;
    animation: blink-animation 1.2s steps(3, start) infinite;
}

.hero__go-content {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 88px;
}

.hero__heading {
    margin-bottom: auto;
    margin-top: 0;
    position: relative;
    z-index: 2;
}

.hero__download-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__download {
    width: 100%;
    text-decoration: none;
    max-width: 355px;
    height: 43px;
    border: 1px solid var(--font-body-color);
    color: var(--text-accent-color);
    text-align: center;
    padding: 8px 32px;
    border-radius: 4px;
    display: block;
}

/* section experiences*/
.heading {
    margin: 0;
}

.heading::after {
    content: "_";
}

.experiences, .education, .project, .contact {
    margin-top: 140px;
}

.experiences__heading {
    margin-bottom: 58px;
    color: var(--text-accent-color);
    font-size: 28px;
}

.experiences__presentation {
    margin-bottom: 92px;
    font-size: 14px;
    color: var(--font-body-color)
}

.experiences-month {
    margin-bottom: 8px;
    color: var(--text-accent-color);
    font-size: 16px;
}

.experiences__name {
    color: var(--font-body-color);
    font-size: 18px;
    margin: 0;
}

.experiences__content {
    margin-bottom: 32px;
}

.experiences__content-heading {
    display: flex;
    flex-direction: column;
}

/* education content */

.education__content {
    margin-top: 58px;
}

.education__content-heading {
    display: flex;
    flex-direction: column;
}

.education-year {
    color: var(--text-accent-color);
    font-size: 16px;
    margin-bottom: 8px;
}

.education__name {
    color: var(--font-body-color);
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
}

.education-degree {
    color: var(--font-body-color);
    font-size: 14px;
    margin-top: 8px;
}

/*projects content*/

.projects__content {
    margin-top: 58px;
}

.projects__name {
    color: var(--text-accent-color);
    font-family: 'Open Sans';
    font-weight: bold;
    display: flex;
}

.project__image {
    width: 100%;
    height: 196px;
    object-fit: cover;
    border-radius: 4px;
}
.projects__github{
    text-decoration: none;
    color: var(--text-accent-color);
    font-size: 24px;
}
.projects__github-link{
    margin-left: auto;

}
.projects__image-link {
    margin-top: 8px;
    display: block;
}

.projects__skills {
    margin-top: 8px;
    flex-wrap: wrap;
    display: flex;
    gap: 12px;
}

.projects__skill {
    border: 1px var(--font-body-color) solid;
    border-radius: 4px;
    padding: 12px 20px

}

.contact__address {
    font-style: normal;
}

.contact__address-link {
    color: #3498db;
}

/**/
.main-footer__message {
    color: var(--text-accent-color);
    font-size: 16px;
    align-items: center;
    display: flex;
    gap: 4px;
}

/*Media queries part tablet*/
@media screen and (min-width:600px){
    .main-content,.main-footer{
        width: 500px;
        margin-right:  auto;
        margin-left: auto;
        padding: 0;
    }
    .hero{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 600px;
    }
    .hero__hello,.hero__heading{
        text-align: center;
    }
    .hero::before {
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}
/*Media queries part pc*/
@media screen and (min-width:960px){
    .main-content{
        width: 824px;
        margin-right:  auto;
        margin-left: auto;
    }
    .projects__content{
        width: 400px;
    }
    .projects{
        display: flex;
        flex-wrap:wrap;
        column-gap:24px;
        
    }
    .projects__heading{
        width: 100%;
    }
    .main-footer__message{
        justify-content: center;
    }

}
